<!DOCTYPE html>
<html>
<head>
    <title>Team North</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/nav.css">

    <link href='/webjars/fullcalendar/4.3.1/core/main.css' rel='stylesheet'/>
    <link href="/webjars/fullcalendar/4.3.1/daygrid/main.css" rel="stylesheet"/>
    <link href="/webjars/fullcalendar/4.3.1/timegrid/main.css" rel="stylesheet">
    <link href="/webjars/fullcalendar/4.3.1/list/main.css" rel="stylesheet">
    <link href="/webjars/jquery/3.4.1/jquery.min.js">
    <link href="/webjars/momentjs/2.5.0/moment.js">
    <script src="/webjars/fullcalendar/4.3.1/core/main.js"></script>
    <script src="/webjars/fullcalendar/4.3.1/daygrid/main.js"></script>
    <script src="/webjars/fullcalendar/4.3.1/timegrid/main.js"></script>
    <script src="/webjars/fullcalendar/4.3.1/list/main.js"></script>
    <script src="/webjars/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/momentjs/2.5.0/moment.js" type="text/javascript"></script>
    <script src="/webjars/fullcalendar/4.3.1/interaction/main.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid', 'list', 'interaction'],

                selectable: true,
                selectHelper: true,
                editable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay, listWeek'
                },
                dateClick: function () {
                    alert('Create Event');
                },

                    height: "auto",
                });
            calendar.render();
        });

        </script>

</head>
<body>
<ul class="nav">
    <li><a href="/templates/nav.html">Home</a></li>
    <li><a class="on" href="#">Calendar</a></li>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">About us</a></li>
</ul>
<div id='calendar'></div>
</body>
</html>